variable "disk_size" {
    type = number
    default = 40
}

variable "image_name" {
    type = string
    default = "debian-cloud/debian-11"
    # "ubuntu-os-cloud/ubuntu-minimal-2004-lts"
}

variable "network_name" {
    type = string
    default = "default"
}

variable "machine_type" {
    type = string
    default = "e2-small"
}

variable "instance_name" {
    type = string
    default = "server-instance"
}